.body {
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем отступы */
  background-image: url('../../../public/images/main_background.jpg'); /* Указываем путь к изображению */
  background-size: cover; /* Изображение покрывает весь экран */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Изображение не повторяется */
  height: 100vh; /* Занимает всю высоту окна */
  display: flex;
  justify-content: center;
  align-items: center;
}